@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');
@font-face {
 font-family: pixel;
 src: url(fonts/ARCADECLASSIC.TTF);
}

*{
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
 font-size: 1rem;
}

h1{
    font-family: pixel;
    font-size: 3rem;
    letter-spacing: .3rem;
    color: #00303b;
}
h2{
    font-family: pixel;
    font-size: 2rem;
    letter-spacing: .1rem;
    color: #00303b;
}

body{
 background-color: #f1f2da;
 margin: 0;
 padding: 0;
}
ul{
    list-style: none;
    padding: 0;
}
p{
  line-height: 2rem;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^CSS FOR THE ENIRE WEBSITE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    /* background-color: lightblue; */
  }
  
  .logo{
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: .5rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .navlinks ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navlinks li{
    list-style: none;
  }
  
  .navlinks li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
  }
  
  .navlinks li:hover{
    font-weight: 700;
  }
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^CSS FOR THE NAV BAR^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

  .sumlilhero{
    background-image: url(images/Background-01-01.png);
    background-position: left top;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0rem;
  }
  .sumlilthumbnail{
    width: min(800px, 70%);
  }
  
  .sect{
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  
  .sect.title{
    justify-content: center;
  }
  .sect.title.content{
    flex-direction: row;
    gap: 2rem;
  }
  .cont.sumlil{
    display: flex;
  }
  
  .sect.intro{
    justify-content: center;
  }

  .sect.content{
    width: min(50rem, 70%);
  }

  .image-container {
    display: flex;
    justify-content: space-around;
  }
  
  .pictures {
    width: 200px;
  }

  .sect.research02 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    margin-top: 2rem;
  } 
  
  .left-container, .right-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: .5rem;
  }
  
  

  .ogimage{
    border-radius: 2rem;
    max-width: 25rem;
  }
  
  .gif{
    width: 5rem;
    border-bottom: .5px solid black;
  }

  .progression{
    display: flex;
    justify-content: space-between;
    
  }

  .progression .version{
    text-align: center;
  }

  .img-progression{
    width: 5rem;
  }

  .progression.mimi{
    justify-content: space-around;
  }

  .progression.nohnoh{
    justify-content: space-around;
  }

  .final-product-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .final-product-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .final-image{
    max-width: 100%;
    border-radius: 1rem;
  }

  .sect.content.client-review{
    text-align: center;
  }

  .client-review{
    margin-bottom: 3rem;
  }