 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');
 @font-face {
  font-family: bubblepixel;
  src: url(fonts/04B_30__.TTF);
 }

*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body{
  margin: 0;
  padding: 0;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^CSS FOR THE ENIRE WEBSITE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  /* background-color: lightblue; */
}

.logo{
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: .5rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.navlinks ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navlinks li{
  list-style: none;
}

.navlinks li a{
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}

.navlinks li:hover{
  font-weight: 700;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^CSS FOR THE HEADER OF WEBSITE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
 .hero{
  display: flex;
  justify-content: center;
 }

 h1{
  font-size: 2rem;
  width: min(800px, 70%);
  font-weight: 500;
 }

 /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^CSS FOR PROJECTS OF WEBSITE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
a{
  color: black;
  font-weight: 600;
}

.projects{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 1rem 0;
  padding: 1rem;
}

.projectimage{
  background-color: lightblue;
}
.projectdes{
  background-color: lightcoral;
}

.projtitle{
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
}
